*{
    margin: 0;
    padding: 0;
}
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background: linear-gradient(135deg, #32613e, #32613e);
    padding: 1.5rem;
    color: #db9247;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    height: 3rem;
}

header>img{
    height: 4rem;
    margin-right: 30px;
}

header>h1{
    font-family: 'Gidugu';
    font-size: 3rem;
    margin: 0;
}

main {
    flex: 1;
    background-color: #fcf6b5;
    display: flex;
    align-items: center;
    flex-direction: column;
}

main>#title{
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    font-family: 'Gidugu';
    font-size: 2rem;
    color: #b2361d;
    margin-left: 6rem;
}
#container{
    min-width: 95vw;
    min-height: 70vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* border: 2px solid #7AB258 ; */
    gap: 20px;
}
#container>#pizza{
    width: 40%;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 2px solid #7AB258 ; */

}
#container>#menu{
    width: 60vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    /* border: 2px solid #7AB258 ; */

}
#menu>#categories{
    display: flex;
    flex-direction: row;
    gap: 20px;
    /* border: 2px solid #7AB258 ; */
    font-family: 'Quicksand';
    font-size: 1.5rem;
    align-items: center;
    justify-content: center; 
}
.menus{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    background-color: #d45b27;
    /* border: 2px solid #7AB258 ; */
    height: 40vh;
    padding: 10px;
    border-radius: 0 0 20px 20px;
    margin-bottom: 10px;
}

/*style*/
#sizes>#small, #regular, #large, #family-size{
    background-color: #db9247;
    transition: background-color 0.3s ease, transform 0.3s ease;
    color: #b2361d;
    font-family: 'Quicksand';
}

#crusts>#thick, #thin{
    background-color: #db9247;
    transition: background-color 0.3s ease, transform 0.3s ease;
    color: #b2361d;
    font-family: 'Quicksand';
}

#toppings>#pepperoni, #mushrooms, #olives, #pineapple{
    background-color: #db9247;
    transition: background-color 0.3s ease, transform 0.3s ease;
    color: #b2361d;
    font-family: 'Quicksand';
}

#slices>#triangle, #square{
    background-color: #db9247;
    transition: background-color 0.3s ease, transform 0.3s ease;
    color: #b2361d;
    font-family: 'Quicksand';
}

/*hover effect*/
#sizes>#small:hover, #sizes>#regular:hover, #sizes>#large:hover, #sizes>#family-size:hover {
    background-color: #b2361d;
    transform: translateY(-5px); 
    color: #db9247;
}

#crusts>#thick:hover, #crusts>#thin:hover{
    background-color: #b2361d;
    transform: translateY(-5px); 
    color: #db9247;
}

#toppings>#pepperoni:hover, #toppings>#mushrooms:hover, #toppings>#olives:hover, #toppings>#pineapple:hover{
    background-color: #b2361d;
    transform: translateY(-5px); 
    color: #db9247;
}

#slices>#triangle:hover, #slices>#square:hover{
    background-color: #b2361d;
    transform: translateY(-5px); 
    color: #db9247;
}


.active {
    background-color: #b2361d; 
    transform: scale(1.05);
}

.category-button{
    width: 100%;
    height: 2rem;
    background-color: white;
    border-radius: 20px 20px 0 0;
    text-align: center;
}
.pizza-button{
    width: 10rem;
    height: 9rem;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    padding: 1rem;
}
.pizza-button p{
    color: grey;
}

.topping-image{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; /* Prevent the user from interacting with the topping */
}

#total-price{
    /* border: 2px solid #7AB258 ; */
    display: flex;
    padding: 20px;
    border-radius: 20px;
    justify-content: space-between;
    background: linear-gradient(135deg, #d45b27, #d45b27);
    margin-bottom: 10px;
    font-family: 'Quicksand';
    color: #d9c595;

}



#buttons{
    /* border: 2px solid #7AB258 ; */
    display: flex;
    justify-content: space-around;
    color: #d9c595;
    font-family: 'Quicksand';
    font-size: large;

}
.order-button{
    /* border: 2px solid #7AB258 ; */
    width: 40%;
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background: linear-gradient(135deg, #d45b27, #d45b27);
}
footer {
    background: linear-gradient(135deg, #b2361d, #b2361d);
    padding: 1.5rem;
    color: #db9247;
    text-align: center;
    height: auto;
    font-family: 'Quicksand';
}
#custom-pizza img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: width 0.5s, height 0.5s, transform 0.5s;
}

#custom-pizza {
    position: relative;
}

/* SIZES */
.small{
    width: 400px;
    height: 400px;
    /* transform: rotate(360deg); */
    transition: width 0.5s, height 0.5s, transform 0.5s;
}
.regular{
    width: 425px;
    height: 425px;
    /* transform: rotate(360deg); */
    transition: width 0.5s, height 0.5s, transform 0.5s;
}
.large{
    width: 450px;
    height: 450px;
    /* transform: rotate(360deg); */
    transition: width 0.5s, height 0.5s, transform 0.5s;

}
.family-size{
    width: 475px;
    height: 475px;
    /* transform: rotate(360deg); */
    transition: width 0.5s, height 0.5s, transform 0.5s;

}

/* EFFECTS AND ANIMATIONS */
.rotate{
    transform: rotate(360deg);
}
.hidden{
    display: none;
}
.selected{
    background-color: #d45b27;
    color: #d9c595;
}
.unselected{
    background-color: #d9c595;
    color: #d45b27;
}